@import "tailwindcss";

@theme {
  --color-primary: #dcb14a;
  --color-background-light: #f2f2f2;
  --color-background-dark: #121212;
  --color-surface-dark: #1c1c1c;
  --color-text-main: #ffffff;
  --color-text-muted: #a3a3a3;
  
  --font-display: var(--font-display), sans-serif;
  
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;
}

body {
  font-family: var(--font-display);
}
